<nav class="navbar navbar-expand-lg navbar-light py-3 mb-4 border-bottom">
  <div class="container">
    <a href="/" class="d-flex align-items-start text-dark text-decoration-none navbar-brand">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">The Events</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <% if user_signed_in? %>
        <ul class="nav nav-pills ms-auto">
          <li class="nav-items">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to "Create Event", new_event_path, class: "nav-link active" %>
          </li>
          <li class="dropdown">
            <a href="#" class="nav-link dropdown-toggle text-center" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownUser1">
              <li>
                <%= link_to "Attended Events", attended_events_path, class: "dropdown-item link-primary" %>
              </li>
              <li>
                <%= link_to "Your Events", "#", class: "dropdown-item link-primary" %>
              </li>
              <hr class="divider">
              <li>
                <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item link-danger" %>
              </li>
             </ul>
            </li>
          </ul>
        <% else %>
          <ul class="nav nav-pills navbar-nav-scroll ms-auto" style="--bs-scroll-height: 200px;">
            <li class="nav-item">
             <%= link_to "Home", root_path, class: "nav-link active" %>
            </li>
            <li>
              <%= link_to "Create Event", new_event_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
         </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
