<h1>Home - Private Events</h1>

<% if user_signed_in? %>
	<div>
		<%= link_to "Log out", destroy_user_session_path, 'data-turbo-method': :delete %>
	</div>
	<br>
	<div>
	<% flash.each do |msg| %>
		<%= msg %>
	<% end %>
	</div>
<% else %>
	<div>
		<%= link_to "Login here", new_user_session_path %><br>
		Don't have an account? Sign in <%= link_to "here", new_user_registration_path %>
		<br>
		<br>
	</div>
<% end %>

<% if @events.empty? %>
	<div>
		<h3>
			Alone here. Add some event.<br> 
		</h3>	
	</div>
<% else %>
	<div>
		<% @events.each do |event| %>
			Author : <%= event.creator.email %><br>
			Event Name : <%= link_to event.event_name, event %><br>
			Date : <%= event.date %><br>
			Location : <%= event.location %><br>
			<hr>
		<% end %>
	</div>
<% end %>
<%= link_to "Add new event", new_event_path %>
