<% provide(:title, "Past Events") %>

<%= render "events/header" %>

<%= render "events/pastTab" %>

<% unless @past.empty? %>
	<div class="container px-2 py-5" id="featured-3">
		<div class="row d-flex justify-content-center d-grid gap-3">
			<% @past.each do |event| %>
				<div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 20rem;">
					<div class="card-body">
						<h4 class="card-title text-truncate text-center text-secondary">
							<%= event.event_name %>
						</h4>
						<hr class="divider">
						<p class="card-text text-truncate">
							Created by <%= event.creator.email %><br>
							At <%=  event.location %> | <%= event.date&.strftime('%d %B %Y') %>
						</p>
						<%= link_to "Go to event details", event, class: "btn btn-outline-secondary d-grid gap-3" %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
<% else %>
	<h3 class="text-center">
		There is no past events.
	</h3>
<% end %>
