<% provide(:title, "Past Events") %>

<%= render "events/header" %>

<ul class="nav nav-tabs mx-auto col-md-6 col-md-offset-3 d-flex justify-content-center">
	<li class="nav-item">
		<%= link_to "Upcoming Events", root_path, class: "nav-link" %>
  </li>
	<li class="nav-item">
		<%= link_to "Past Events", past_events_path, class: "nav-link active" %>
  </li>
</ul>

<h3 class="text-center">
	There is <%= @past.count %> events in here!
</h3>

<% unless @past.empty? %>
	<% @past.each do |event| %>
		<div class="list-group col-md-6 col-md-offset mx-auto" id="list-example">
			<a class="list-group-item list-group-item-action" href="#list-item-1">
				<%= event.event_name %>
			</a>
		</div>

		<div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true" class="scrollspy-example col-md-6 col-md-offset-3 mx-auto" tabindex="0">
			<h4 id="list-item-1">
				<%= link_to event.event_name, event %>
			</h4>
			<table>
				<tr>
					<td>Author</td>
					<td><%= event.creator.email %></td>
				</tr>
				<tr>
					<td>Date</td>
					<td><%= event.date %></td>
				</tr>
				<tr>
					<td>Location</td>
					<td><%= event.location %>
				</tr>
				<% if event.attendeer == [] %>
					<tr>
						<td>Participants</td>
						<td>No Participants</td>
					</tr>
				<% else %>
					<tr>
						<td>Participants</td>
						<td><%= event.attendeer.pluck(:email)%></td>
					</tr>
				<% end %>
			</table>
			<hr class="divider">
		<% end %>
	<% else %>
		<h3>There is no past event</h3>
	</div>
<% end %>
