<h1>
	<center>
		<%= @event.event_name %>
	</center>
</h1>

<% if !current_user %>
	<div>
		<div>
			Title : <%= @event.event_name %><br>
		</div>
		<div>
			Author : <%= @event.user.email %><br>
		</div>
		<div>
			Date : <%= @event.date %><br>
		</div>
		<div>
			Location : <%= @event.location %><br>
		</div>
		<div>
			Event Description : <br>
		</div>
		<div>
			<%= @event.body %><br>
		</div>
		<div>
			<%= button_to "Join this event", '#' %><br>
			<%= link_to "Back to all events", root_path %>
		</div>
	</div>
<% elsif @event.user.email == current_user.email %>
	<div>
		<center>
			<%= link_to "Edit this event", edit_event_path(@event) %>
		</center>
	</div>
	<div>
		<div>
			Title : <%= @event.event_name %><br>
		</div>
		<div>
			Author : <%= @event.user.email %><br>
		</div>
		<div>
			Date : <%= @event.date %><br>
		</div>
		<div>
			Location : <%= @event.location %><br>
		</div>
		<div>
			Event Description : <br>
		</div>
		<div>
			<%= @event.body %><br>
		</div>
		<div>
			<%= button_to "Join this event", '#' %><br>
			<%= link_to "Back to all events", root_path %>
		</div>
	</div>
<% else %>
	<div>
		<div>
			Title : <%= @event.event_name %><br>
		</div>
		<div>
			Author : <%= @event.user.email %><br>
		</div>
		<div>
			Date : <%= @event.date %><br>
		</div>
		<div>
			Location : <%= @event.location %><br>
		</div>
		<div>
			Event Description : <br>
		</div>
		<div>
			<%= @event.body %><br>
		</div>
		<div>
			<%= button_to "Join this event", '#' %><br>
			<%= link_to "Back to all events", root_path %>
		</div>
	</div>
<% end %>