<% unless !current_user %>
	<h3><%= current_user.email %></h3>
<% end %>

<h1>
	<center>
		<%= @event.event_name %>
	</center>
</h1>

<% flash.each do |msg| %>
	<%= msg %>
<% end %>

<% if @event.creator == current_user %>
	<div>
		<center>
			<%= link_to "Edit this event", edit_event_path(@event) %>
		</center>
	</div>
<% end %>

<div>
	<% if @participant.nil?  %>
		<h5>No Participant</h5>
	<% else %>
		<% @participant.each do |e| %>
			Event : <%= e.event.event_name %><br>
			User : <%= e.user.email %><br>
			<hr>
		<% end %>
	<% end %>
</div>

<div>
	<div>
		Title : <%= @event.event_name %><br>
	</div>
	<div>
		Author : <%= @event.creator.email %><br>
	</div>
	<div>
		Date : <%= @event.date %><br>
	</div>
	<div>
		Location : <%= @event.location %><br>
	</div>
	<div>
		Event Description : <br>
	</div>
	<div>
		<%= @event.body %><br>
	</div>
	<% if current_user %>
		<%= form_with(scope: :participant, url: participants_path, method: :post) do |f| %>
			<%= f.hidden_field :user_id, value: current_user.id %><br>
			<%= f.hidden_field :event_id, value: @event.id %><br>
			<%= f.hidden_field :status, value: 'attendee' %><br>
			<%= f.submit value: "Join this event" %>
		<% end %>
		<%= button_to "Cancel", participant_path, method: :delete %>
	<% else %>
		Wanna join to this event? <%= link_to "Login here first", new_user_session_path %>.<br>
		New user? <%= link_to "Sign in here", new_user_registration_path %><br>
	<% end %>
	<div>
		<br><%= link_to "Back to all events", root_path %>
	</div>
</div>
